[source]
url = https://github.com/oxullo/gitpullerd.git
branch = master

[stage]
path = /tmp/gitpullerd-stage

[webhook]
listen_ip = 0.0.0.0
listen_port = 8888
allowed_networks = 127.0.0.1, 192.30.252.0/22

[payload]
match_url = https://github.com/oxullo/gitpullerd
match_ref = refs/heads/master

[action]
shell = ../tests/postpull.sh
